@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3> Are you sure you wish to delete this stylist?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to list of Stylists", "Index")