@{
  Layout = "_Layout";
}

<h1> Welcome Back Claire! </h1>
<p> Here is you can go to your list of stylists and clients </p>

<p>@Html.ActionLink("Look at your Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Look at your Clients", "Index", "Clients")</p>
