@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3> Are you sure you wish to delete this client?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Go Back to list of clients", "Index")
